.Details img {
  max-width: 100%;
}


.Details .date-run-container {

.Details .no-poster {
  width: 300px;
  height: 450px;
  max-width: 100%;
}

.Details ul {

  display: flex;
  justify-content: space-evenly;
  margin: 5px 0px;
  font-weight: 200;
  font-size: 13px;
}

.Details .rating-title-container {
  display: flex;
  align-items: center;
  margin: 10px 10px 0px 10px;
}

.Details h2 {
  padding: 0;
  margin-left: 20px;
}

.Details .rating-title-container p {
  font-size: 25px;
}

.Details .fa-star {
  color: #feba35;
  padding-right: 10px;
}

.Details ul {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0px;
}

.Details li {
  background-color: #e34040;
  padding: 3px 15px;
  border-radius: 10px;
  margin: 15px 15px;
  font-size: 15px;
}

.Details .overview-container {
  margin: 0px 15px;
  text-align: justify;
  font-size: 15px;
  font-weight: 200;
  line-height: 25px;
}

.Details .hidden-div {
  display: hidden;
  height: 65px;
  width: 100%;
}
