.FilterForm .form-container {
  display: flex;
  flex-wrap: wrap;
}

.FilterForm button {
  background-color: #e34040;
  border: none;
  border-radius: 5px;
  color: white;
  font-weight: 600;
  margin-left: 10px;
}

.FilterForm button:hover {
  background-color: white;
  color: #e34040;
}
