.WatchList li {
  list-style: none;
}

.WatchList .watchlist-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

.WatchList .margin-div {
  height: 45px;
}

.WatchList .watch-list-title {
  text-align: center;
  margin-top: 32px;
  font-size: 40px;
  color: lightslategray;
}

.WatchList .hidden-footloose-div {
  display: hidden;
  height: 65px;
  width: 100%;
}
