.WatchList li {
  list-style: none;
}

.WatchList .watchlist-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

.WatchList .margin-div {
  height: 45px;
}

.WatchList .hidden-footloose-div {
  display: hidden;
  height: 65px;
  width: 100%;
}
.WatchList {
  background-color: black;
  height: 100vh;
}
