/* resets */
body,
h1,
ul,
li,
h2,
p {
  margin: 0;
}

Body {
  background-color: #0c1218;
  font-family: "Inter", sans-serif;
  color: white;
}

button {
  cursor: pointer;
}

@media only screen and (min-width: 768px) {
  .Header .header-wrapper {
    padding: 0px 10px;
  }

  .Header .filter-btn {
    font-size: 20px;
  }

  .SearchForm .search-wrapper {
    width: 600px;
  }

  .SearchForm #search {
    padding: 10px 0px;
    font-size: 25px;
  }

  .SearchForm .fa-magnifying-glass {
    font-size: 20px;
    color: #666;
    transform: translate(0px, 7px);
  }

  .CardContainer {
    margin-left: 10px;
    margin-right: 10px;
  }

  .Card {
    box-sizing: border-box;
    background-color: #151c23;
    border: 1px solid #484646;
    border-radius: 10px;
    padding: 30px 45px;
  }

  .Footer {
    display: none;
  }
}
