/* resets */
body,
h1,
ul,
li,
h2,
p {
  margin: 0;
}

Body {
  background-color: #0c1218;
  font-family: "Inter", sans-serif;
  color: white;
}

.Header {
  position: fixed;
  z-index: 1;
}

.Main .hidden-header-div {
  height: 40px;
}

button {
  cursor: pointer;
}

@media only screen and (min-width: 768px) {
  .Main .hidden-header-div {
    height: 80px;
  }

  .Header .header-wrapper {
    justify-content: space-evenly;
  }

  .Header .hidden-link-div {
    display: flex !important;
    justify-content: space-between;
    width: 15%;
    position: absolute;
    right: 20px;
    top: 20px;
  }

  .Header .filter-btn {
    font-size: 20px;
  }

  .Details img {
    height: 80vh;
  }

  .SearchForm .search-wrapper {
    width: 600px;
  }

  .SearchForm #search {
    padding: 3px 0px;
    font-size: 25px;
  }

  .SearchForm .fa-magnifying-glass {
    font-size: 20px;
    color: #666;
    transform: translate(0px, 2px);
  }

  .FilterForm .inputs {
    padding: 5px 20px;
    margin-right: 20px;
    /* font-size: 20px; */
  }

  .FilterForm span {
    padding: 0;
    margin: 10px;
  }

  .Card {
    padding: 30px 45px;
    height: 700px;
    margin-top: 20px;
    transition: 1s ease;
  }

  .Card:hover {
    transform: scale(1.05);
    transition: 1s ease;
  }

  .Details .main-div {
    display: flex;
    align-items: center;
    margin: 55px 20px 20px 20px;
  }

  .Details .img-container {
    flex: 1;
  }

  .Details .details-container {
    flex: 2;
    flex-direction: column;
  }

  .Details .date-run-container {
    justify-content: flex-start !important;
  }

  .Details .date-run-container p {
    margin-left: 10px;
  }

  .Details ul {
    justify-content: flex-start !important;
    margin: 10px 0px 10px 0px;
  }

  .Details .overview-container {
    justify-content: center;
    width: 50%;
  }

  .Details img {
    border-radius: 10px;
  }

  .WatchList .margin-div {
    padding-top: 20px;
  }

  .Footer {
    display: none;
  }

  .WatchList .hidden-footloose-div {
    display: none;
  }
  .Header .header-wrapper .logo-img-mobile {
    display: none;
  }

  .Header .header-wrapper .logo-img-desktop {
    display: block;
    width: 75px;
    position: absolute;
    top: 4px;
    left: 17px;
  }
}
