/* resets */
body,
h1,
ul,
li,
h2,
p {
  margin: 0;
}

Body {
  background-color: #0c1218;
  font-family: "Inter", sans-serif;
  color: white;
}

button {
  cursor: pointer;
}

@media only screen and (min-width: 768px) {
  .Header .hidden-link-div {
    display: flex !important;
    justify-content: space-between;
    width: 15%;
  }

  .Header .filter-btn {
    font-size: 20px;
  }

  .SearchForm .search-wrapper {
    width: 600px;
  }

  .SearchForm #search {
    padding: 10px 0px;
    font-size: 25px;
  }

  .SearchForm .fa-magnifying-glass {
    font-size: 20px;
    color: #666;
    transform: translate(0px, 7px);
  }

  .FilterForm .form-container {
    justify-content: space-evenly;
  }

  .FilterForm .inputs {
    padding: 10px 20px;
    font-size: 20px;
  }

  .FilterForm span {
    padding: 0;
    margin: 0;
  }

  .Card {
    padding: 30px 45px;
    height: 700px;
    margin-top: 20px;
    transition: 1s ease;
  }

  .Card:hover {
    transform: scale(1.05);
    transition: 1s ease;
  }

  .Footer {
    display: none;
  }
}
